.block{
    margin-top: 2%;
    min-height: 300px;
}

.calcul{
    border-top: 2px black solid ;
    border-left: 2px black solid ;
    border-right: 2px black solid ;
    border-bottom: 1px black dashed ;
}

.reponse{
    border-bottom: 2px black solid ;
    border-left: 2px black solid ;
    border-right: 2px black solid ;
    border-top: 1px black dashed ;
}
