.block{
    margin-top: 2%;
    min-height: 300px;
}

.calcul{
    border-top: 2px black solid ;
    border-left: 2px black solid ;
    border-right: 2px black solid ;
    border-bottom: 1px black dashed ;
    width: 350px;
    height: 100px;
    text-align: center;
   
}

.reponse{
    border-bottom: 2px black solid ;
    border-left: 2px black solid ;
    border-right: 2px black solid ;
    border-top: 1px black dashed ;
    width: 350px;
    height: 100px;
    margin: 200px;
    margin-left: -1px;
    margin-top: 1px;
    text-align: inherit;
}
button{
    width: 70px;
    height: 50px;
}
.block1{
    width: 300px;
    height: 300px;
    margin-top: -50px;
    justify-items: center;

}
